#landingPageheader{
    max-width: 980px;
    margin:0 auto;
    overflow:visible;
}
body{
    background: #e3e6e3;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
}

#top{
 
    background-color: #009270;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#icons#icons#icons{
    align-self: center;
     padding: 10px; 
     /* background-color: #fff; */
}
#icons>i{
    color: #fff;
    padding: 12px 5px;
    cursor: pointer;
}
#logo{
    padding:15px 0 1px 10px;  
    align-items: center;
    cursor: pointer;
}
.dropbtn{
    background-color: #009270;
    color: white;
    padding: 0px 7px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_value {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: max-content;
    z-index: 1;
}
.dropdown_value a {
    color: black;
    font-size: 14px;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
}
.dropbtn>a{
    text-decoration: none;
    color:#fff;
}
.dropdown_value a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown_value {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #028062;
}
#cricPlusbtn{
    margin-left: 10px;
    padding: 8px 14px;
    background: #fff;
    border-radius: 18px;
    border: 0;
}
#cricPlusbtn>a{
    text-decoration: none;
    color:#666;
}
.dropdown_val {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 40px;
    background-color: #f1f1f1;
    min-width: max-content;
    z-index: 1;
}
.dropdown_val a:hover {
    background-color: #ddd;
}
.team>a{
    color: black;
    font-size: 14px;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
}
.team{
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: max-content;
    z-index: 1;
    margin: 0 10px 10px 10px;
}
.dropdown:hover .dropdown_val .team{
    display: flex;
    flex-direction: column;
}

#blackStrip{
    width: 100%;
    background: #4a4a4a;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#blackStrip>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#blackStrip div a{
    padding: 10px 10px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#blackStrip div>a:first-child{
    padding:10px 20px;
    background-color: #333;
}
#blackStrip button>a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    background-color: #4a4a4a;
    color:white;
}
#blackStrip button{
    background-color: transparent;
    border: none;
}
#blackStrip div a:hover{
    background-color: #444;
}
#blackStrip button>a:hover{
    background-color: #444;
}
#icons{
    display: inline-block ;
    position: relative;
}
#profileIcon{
    margin: 5px 5px;
    color: #fff;
}
#loginStatus{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: max-content;
    z-index: 1;
}
#loginStatus a {
    color: black;
    font-size: 14px;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
}
#loginStatus a:hover {
    background-color: #ddd;
}
#icons:hover #loginStatus{
    display: block;
}
#search{
    color: #fff;
    padding: 12px 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: -30px;
}

@media only screen and (max-width: 850px) {
    #blackStrip{
        display: none;
    }
    .dropdown{
        display: none;
    }
    #cricPlusbtn{
        position: absolute;
        left: 110px;
    }
    body{
        margin: 0;
    }

  }